<div class="page-header d-flex justify-content-between align-items-center mb-4">
  <h2 class="text-dark m-0" style="font-weight: 700;">Products Management</h2>
  <div class="actions d-flex gap-2">
    <button mat-flat-button color="primary" (click)="openQrCodeReadingDialog()">
      <mat-icon>qr_code_scanner</mat-icon> QR Okut
    </button>
    <button mat-flat-button color="warn" routerLink="/admin/products/create">
      <mat-icon>add</mat-icon> Create Product
    </button>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.imagePath" [src]="baseUrl?.url + '/' + element.imagePath" width="50" height="50"
          style="border-radius: 5px; object-fit: cover; margin: 5px 0;" [alt]="element.name">
        <img *ngIf="!element.imagePath" src="../../../../../assets/default-product.png" width="50" height="50"
          style="border-radius: 5px; object-fit: cover; margin: 5px 0;" [alt]="element.name">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef> Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="qrcode">
      <th mat-header-cell *matHeaderCellDef width="30"> </th>
      <td mat-cell *matCellDef="let element">
        <a (click)="showQrCode(element.id)" style="cursor:pointer" title="QR Code Göster">
          <mat-icon style="color: #555;">qr_code</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef width="30"> </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/admin/products/edit', element.id]" style="cursor:pointer">
          <img src="../../../../../assets/edit.png" width="25" height="25" />
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="30"> </th>
      <td mat-cell *matCellDef="let element" appDelete [id]="element.id" (callback)="getProducts()"
        controller="products">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="pageChanged()" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>